<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ermes.salario"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/euro"
        android:label="@string/app_name" 
       >
        <activity
            android:name=".SalarioActivity"
            android:label="@string/app_name" 
            android:theme="@style/fuente"
            >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity
            android:name=".AcercaActivity"
            android:label="@string/app_name" 
            >
            <intent-filter>
                <action android:name="com.ermes.salario.ACERCA" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       <activity
            android:name=".AjustesActivity"
            android:label="Ajustes" 
            >
            <intent-filter>
                <action android:name="com.ermes.salario.AJUSTES" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       
       </application>

</manifest>